.card {
  border: 1px solid #f7f7f9;
  img {
    max-width: 100%;
  }
  .card-block {
    .btn {
      position: absolute;
      bottom: 0;
      right: 0;
      margin: 1em;
    }
  }
}

.item-list {
  img {
    max-height: 10em;
  }
  .card {
    height: 22em;
  }
}

.booked-item-list {
  img {
    max-height: 6em;
  }
  .card {
    height: 25em;
  }
  .form-control {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 73%;
    margin: 1em;
  }
}
